* {
    text-align: center;
    align-items: center;
    justify-content: center;
}

html {
    background-color: black;
}

.row {
    display: flex;
}

button {
    background-color: black;
    height: 6px;
    width: 6px;
    border: 1px solid rgb(64, 64, 64);
    /* border: None; */
    border-radius: 1px;
    margin: 1px;
    padding: 0px;
}

#alive {
    background-color: rgb(0, 255, 128);
}

#be {
    color: white;
    margin-bottom: 6px;
    width: 72px;
    height: 24px;
    border: 1px solid rgb(64, 64, 64);
    border-radius: 6px;
}

button:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.25));
}